<!-- /.content-wrapper -->
<footer class="main-footer text-center">
    <strong>
        Aplikasi Stok - &copy; 2024 <a class="text-bni-primary"
                                        href="#">
        </a>.
    </strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>